

.todo-generator-button {
    margin-left: 10px;
    background-color: #6495ee;
    color: white;
    border: dodgerblue 1px solid;
}

.todo-generator-input {
    min-width: 200px;
    height: 20px;
}