.todo-wrapper {
    display: flex;
    justify-content: center;
    margin: 7px;
}

.todo-text-wrapper {
    background-color: white;
    border: #b9b9b9 2px solid;
    border-radius: 2%;
    min-width: 250px;
    height: 25px;
    margin-right: 10px;
}

.line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}